.dateButton:hover {
    height: 62px;
    width: 105px;
}

.dateButton {
    border-radius: 4px;
    border-width: .5px;
    padding-top: 1%;
    background-color: #FF900B;
    color: #000000;
    height: 60px;
    min-width: 100px
}

.seldateButton{
    border-radius: 4px;
    border-width: .5px;
    padding-top: 1%;
    background-color: #fff1e1;
    color: #000000;
    height: 60px;
    min-width: 100px
}

.dates {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    overflow-x: auto;
    max-width: 1500px;
    justify-content: center;
    padding-left:25%;
}
.dates::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}