.sidebar {
  position: absolute;
  top: 91px;
  left: -400px;
  width: 100px;
  height: 100px;
  background-color: #FFE193;
  transition: left 300ms ease-out;
}

.sidebar {
  width: 400px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #FFE193;
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: 0.5s;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}

.hamburger {
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -50px;
  background-color: peru;
  margin-top: 0%;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(135deg);
}

.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(-135deg);
}

.sidebar.active .hamburger div {
  transform: scale(0);
}

/* @import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"); */

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #e0e3e8;
  font-family: "Rubik", sans-serif;
}

/* ---Sidebar css */
.text-primary {
  color: #5a8dee !important;
}

.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}

.shadow-md {
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}

.navbar {
  border-radius: 5px;
}


.sidebar.active {
  left: 0;
}

.sd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-body {
  padding: 15px;
  max-height: calc(100vh - 67px);
  overflow-x: hidden;
}

.sd-body ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.amount-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1rem;
  background-color: white;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.amount-input {
  width: 37.5%;
  border: 1px solid black;
  padding: 0.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 8px;
}

.sd-body ul li .sd-link {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  color: #475f7b;
  background-color: #e5e8ec;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 30px;
  background-color: rgb(4, 95, 151);
}

.header img {
  width: 30px;
  height: 30px;
}

body {
  background: #fcfcfc;
}

.container {
  width: 100%;
  height: 100vh;
}

.dropdown {
  width: 400px;
  user-select: none;
  margin: 100px auto;
  position: relative;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  height: 30px;
  width: 15%;
  background: #FFA025;
  margin-top: 5%;
  margin-left: 50%;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 1%;
  z-index: 3;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;

}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
  background: #FFE193;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
  margin-top: 6px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;

}

.App {
  text-align: center;
}

.GeeksForGeeks {
  background-image:
    url("https://media.geeksforgeeks.org/wp-content/uploads/rk.png");
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size: 50px;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(65, 60, 67, 0.14);
  cursor: pointer;
  height: 42px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: "#FFE193 ";
  width: '100vh';

  height: 40px;

}